
<ion-content>
<div class="image">
  <img [src]="execise_link">
</div>



<div class="progress" (click)="start()">

  <circle-progress
  [percent]="value"
  [title]="title"
  [maxPercent]="100"
  [renderOnClick]="isClicked"

  [showTitle]="true"
  [showSubtitle]="false"
  [showUnits]="false"
  [titleColor]="'black'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"

  [backgroundStrokeWidth]="3"
  [animation]="true"
  [animationDuration]="0"
  [showBackground]='false'


></circle-progress>

</div>
<div><h2>{{message}}</h2></div>
</ion-content>
