
<ion-content>
<div [ngClass]='imageStyle'>
  <img [src]="execise_link" [ngClass]="heightImage">
</div>



<div [ngClass]="progressClass"  (click)="start()" >

  <circle-progress
  [percent]="value"
  [title]="title"
  [maxPercent]="100"
  [renderOnClick]="isClicked"

  [showTitle]="true"
  [showSubtitle]="false"
  [showUnits]="false"
  [titleColor]="'black'"
  [outerStrokeWidth]="16"
  [outerStrokeWidth]="16"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [innerStrokeColor]="'#4940f5'"
  [outerStrokeColor]="'#8000FF'"
  [backgroundStroke]="'#33003F'"
  [outerStrokeGradientStopColor]="'#FF00CB'"
  [outerStrokeGradient]="true"
  [showInnerStroke]="true"


  [backgroundStrokeWidth]="3"
  [animation]="true"
  [animationDuration]="0"
  [showBackground]='false'


></circle-progress>

</div>
<div><h2 [ngClass]="fadeText">{{message}}</h2></div>
<ion-button size="mediam" (click)="goPlans()" fill="outline">Back</ion-button>
</ion-content>
