ion-content{
  div{
    width: 100%;
    height: 100%;
    padding-top: 50%;
    background-color: #12c06a;
    text-align: center;
    ion-button{
      text-align: center;
      background: #12c06a;
    }
    img{

    }
  }
}
