<ion-app>

<ion-content>
  <div class="backdrop" [ngClass]="backdropVisible ? 'fade-in' : 'fade'" tappable (click)="drawer.toggleDrawer()"></div>
  <app-drawer (openStateChanged)="toggleBackdrop($event)" #drawer></app-drawer>
<h1>Mine</h1>
<ion-avatar class="animate__animated animate__bounceIn" (click)="drawer.toggleDrawer()">
  <img src={{profile_link}}>
</ion-avatar>
<h2 class="animate__animated animate__fadeInDown x">{{Name}}</h2>
<h4 class="animate__animated animate__fadeInDown y">Age : {{age}}</h4>
<ion-button size="small"  color="warning" (click)="Logout()">LOGOUT</ion-button>
<ion-card>
  <ion-card-header>
    <h4 class="animate__animated animate__fadeInDown z">Body Details</h4>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h6 class="animate__animated animate__fadeInDown a">
H : {{slider}}cm
          </h6>
        </ion-col>
        <ion-col><h6 class="animate__animated animate__fadeInDown a">
W : {{weight}}Kg</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
<ion-grid>
<ion-row>
   <ion-col>
     <ion-row class="weight animate__animated animate__slideInLeft">
      <input type="range"  min="35" max="95" class="slider2" (ngModelChange)="change()" [(ngModel)]="weight">
     </ion-row>
     <ion-row >
<ion-col class="BMI animate__animated animate__slideInLeft">
  <h5>BMI</h5>
  <h3 [class]="bmicolor">{{BMI}}</h3>
  <h4>{{state}}</h4>

</ion-col>


     </ion-row>
   </ion-col>
   <ion-col class="height animate__animated animate__slideInRight" >
<input type="range"  min="140" max="180" class="slider" (ngModelChange)="change()" [(ngModel)]="slider">

   </ion-col>
 </ion-row>
</ion-grid>
<ion-button class="save-button" (click)="save()" size="large" fill="outline">Save</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
</ion-app>
