ion-content{
  --background: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
  url("/assets/gym-girl.jpg") no-repeat center center / cover;

  h1{
    text-align: center;
    font-family:DejaVu Sans Mono, monospace ;
    font-weight: bolder;
    color: white;
  }
  h2{
    text-align: center;
    font-family:DejaVu Sans Mono, monospace ;
    font-weight: bolder;
    color: white;
  }


  h4{
    text-align: center;
    font-family:DejaVu Sans Mono, monospace ;
    font-weight: bolder;
    color: white;
  }
 h5 {
    text-align: center;
    font-family:DejaVu Sans Mono, monospace ;
    font-weight: bolder;
    color: white;
  }
  ion-card{
    background-color: #001029;
    text-align: center;

  }

  ion-avatar {
    width: 150px;
    height: 150px;
    margin: auto;
}
}
.height{
background-image: url('/assets/human.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: fit-content;


height: 350px;

}
.weight{
  background-image: url('/assets/weight.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
text-align: center;
}
.BMI{


height: 175px;
padding-top: 50%;

text-align: center;




}

.slider{
  appearance: none;
  -webkit-appearance: none;
  margin: auto;
  position:absolute;
  text-align: center;
  top: 0; bottom: 0; right: 0; left: 0;
  transform: rotate(-90deg);
  width:300px;
  height: 10px;
  background-color: white;

  border-radius: 25px;
  outline: none;

}
.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  position:relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(rgb(97, 226, 71), navy);
}
.save-button{
  --border-color:#b4b4b4;
  -color:#000000;
  font-weight: bold;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 40px;
}
.backdrop{
  width: 100%;
  height: 100%;
  background: white;
  z-index: 10;
  position:fixed;
}
.fade{
  transition: 0.5s linear all;
  opacity: 0;
  z-index: -1;
}
.test{
  background: red;
}
.fade-in{
  transition: 0.5s linear all;
  opacity: 1;
}
.slider2{
  appearance: none;
  -webkit-appearance: none;


  width:120px;
  height: 10px;
  background-color: white;

  border-radius: 25px;
  outline: none;

}
.slider2::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(rgb(97, 226, 71), navy);
}


.less16{
  font-size: 4rem;
  font-weight: bolder;
  color:#0077ff;
}
.less17{
  font-size: 4rem;
  font-weight: bolder;
  color:#00aaff;
}
.less18-5{
  font-size: 4rem;
  font-weight: bolder;
  color:#00ffe1;
}
.less25{
  font-size: 4rem;
  font-weight: bolder;
  color:#0dff00;
}
.less30{
  font-size: 4rem;
  font-weight: bolder;
  color:#c3ff00;
}
.less35{
  font-size: 4rem;
  font-weight: bolder;
  color:#fffb00;
}
.less40{
  font-size: 4rem;
  font-weight: bolder;
  color:#ff9100;
}
.less48{
  font-size: 4rem;
  font-weight: bolder;
  color:#ff2a00;
}
.x{
  animation-duration: 2s;
  animation-delay: 0.2s;

}
.y{
  animation-duration: 2s;
  animation-delay: 0.3s;

}
.z{

  animation-delay: 0.4s;
  animation-duration: 2s;

}
.a{
  animation-duration: 2s;
  animation-delay: 0.5s;

}
