<ion-app>
  <ion-content >
<div class="screen">
    <div class="animate__fadeInUpBig">


          <ion-card class="loss animate__animatedn animate__fadeInDownBig p" (click)="WeightLoss()" >
            <ion-card-header>
<h1>Weight Loss</h1>
            </ion-card-header>
            <ion-card-content >

            </ion-card-content>
          </ion-card>




          <ion-card class="animate__animated animate__fadeInDownBig y diat" (click)="DietPlan()">
          <ion-card-header>
            <h1>Diet</h1>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>
        </ion-card>


          <ion-card class="animate__animated animate__fadeInDownBig a equ" (click)="YogaPlan()">
            <ion-card-header>
              <h1>Yoga</h1>
            </ion-card-header>
            <ion-card-content >

            </ion-card-content>
          </ion-card>
    </div>
  </div>
  </ion-content>
</ion-app>
