<ion-app>
  <ion-content [fullscreen]="true">

    <div class="animate__fadeInUpBig">


          <ion-card class="loss animate__animatedn animate__fadeInDownBig p" >
            <ion-card-header>
<h1>Weight Loss Plans</h1>
            </ion-card-header>
            <ion-card-content >

            </ion-card-content>
          </ion-card>



          <ion-card class="animate__animated animate__fadeInDownBig x gain">
            <ion-card-header>
              <h1>Weight Gain Plans</h1>
            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
          </ion-card>
          <ion-card class="animate__animated animate__fadeInDownBig y diat">
          <ion-card-header>
            <h1>Diet Plans</h1>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>
        </ion-card>

        <ion-card class="animate__animated animate__fadeInDownBig z work">
            <ion-card-header>
              <h1>Home Workout</h1>
            </ion-card-header>
            <ion-card-content >

            </ion-card-content>
          </ion-card>
          <ion-card class="animate__animated animate__fadeInDownBig a equ">
            <ion-card-header>
              <h1>Equipment Tutorial</h1>
            </ion-card-header>
            <ion-card-content >

            </ion-card-content>
          </ion-card>
    </div>
  </ion-content>
</ion-app>
