<ion-content>
  <div class="login-section ion-padding" >
    <div class = "heading ion-padding">
      <h1>Welcome Fittness</h1>
      <p>Sign in to continue</p>
    </div>
    <div class="login-form ion-padding ">
      <div class="form-input">
        <ion-icon  name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input clearInput="true" [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input clearInput="true" [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="large" (click)="login()" class="login-button">Log in</ion-button>


      <ion-button class="signup-button" size="large" fill="outline" routerLink="/register">Sign up</ion-button>
    </div>
  </div>
</ion-content>
