
<ion-content>



<h1 class="watch">{{extrahou}}{{hour}}|{{extramin}}{{minute}}|{{extrasec}}{{second}}</h1>

<div>

  <circle-progress

  [percent]="precent"
  [maxPercent]="100"
  [renderOnClick]="true"
  [title]="precentage"

  [showTitle]="true"
  [showSubtitle]="false"
  [showUnits]="false"
  [titleColor]="'white'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#8000FF'"
  [backgroundStroke]="'#33003F'"
  [outerStrokeGradientStopColor]="'#FF00CB'"
  [outerStrokeGradient]="true"
  [showInnerStroke]="true"

  [backgroundStrokeWidth]="3"
  [animation]="true"
  [animationDuration]="0"
  [showBackground]='false'


></circle-progress>

<div class="stop">
  <ion-button size="small" color="warning" (click)="presentAlert()">Info</ion-button>
  <ion-button size="small" color="warning" (click)="MainMenu()">Menu</ion-button>
  <br>
  <ion-button (click)="test()">{{buttonText}}</ion-button>
  <h6>Time Duration : {{timeDuration}} Hours</h6>
</div>

</div>
</ion-content>
