
<ion-content>
  <div class="login-section ion-padding" >
    <div class = "heading ion-padding" style="text-align: center;">
      <h1>Enter Age</h1>

      <input type="text" [(ngModel)]="age" autofocus="true" #nameRef  class="headline animate__animated animate__lightSpeedInRight" placeholder="Age">

      <div class="login-form ion-padding">


      </div>
      <div class="action-buttons ion-padding">
        <ion-button size="large"  (click)="setAge()"  class="login-button animate__bounceIn">Next</ion-button>

         </div>
    </div>
    </div>

</ion-content>
